#URL de la base de datos PostgreSQL
DATABASE_URL=postgresql+asyncpg://<user>:<password>@localhost:5432/<db name>

#Datos de admin user
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@dominio.com
ADMIN_PASSWORD=adminpassword

#Configuracion de JWT
SECRET_KEY=your_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token

#Configuracion de CORS
BACKEND_CORS_ORIGINS=["https://localhost:8000", "http://localhost:8000"]