#URL de la base de datos PostgreSQL
DATABASE_URL=postgresql+asyncpg://<user>:<password>@localhost:5432/<db name>

#Datos de admin user
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

#Configuracion de JWT
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
ACCESS_COOKIE_NAME=
REFRESH_COOKIE_NAME=

#Configuracion de CORS
BACKEND_CORS_ORIGINS=["url"]